[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
black = "*"
pyqt5 = "*"
pyqt6 = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
aiogram = "==2.23.1"
flask = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
