table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #0a0101;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}
a {
    display: inline-block; 
    border: 1px solid #0a0101;
    padding: 2px; 
    text-decoration: none; 
    color: #000; 
    transition: background-color 0.3s; 
}

a:hover {
    background-color: #f0f0f0; 
}